.container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
  gap: var(--margin-l);
  padding: var(--padding-l);
  border-radius: var(--border-radius-l);
  min-width: 260px;

  .middle {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: var(--margin-s);
    padding: var(--padding-xs);
    background-color: var(--color-info);
    border-radius: var(--border-radius-m);
    width: 100%;
  }

  .footerBtn {
    width: 100%;
  }
}

.stats {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;

  .label {
    color: var(--color-label);
  }

  .value {
    color: var(--color-text);
  }
}
