@use "../variables" as *;

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: var(--color-primary);
  background-color: var(--color-secondary);
  font-size: var(--font-size-2);
  padding: var(--padding-m) var(--padding-l);
  border-radius: var(--border-radius-m);
  user-select: none;
  outline: none;
  border: none;

  &:hover {
    border: 1px solid var(--color-primary);
    border: none;
  }
  &:focus {
    outline: none;
  }
}
