:root {
  --color-background: #f5f5f5;
  --color-primary: #fff;
  --color-secondary: #4d74fe;
  --color-label: #98a0a2;
  --color-info: #f1f5f8;
  --color-text: #000;
}

@mixin toggle-theme($theme) {
  @if $theme == dark {
    --color-background: #212529;
    --color-primary: #495057;
    --color-secondary: #9d4edd;
    --color-label: #e2f3f7;
    --color-info: #949aa1;
    --color-text: #fff;
  } @else {
    --color-background: #f5f5f5;
    --color-primary: #fff;
    --color-secondary: #4d74fe;
    --color-label: #98a0a2;
    --color-info: #f1f5f8;
    --color-text: #000;
  }
}
