@use "../abstract/" as *;

:root {
  --padding-xxxs: var(--size-2);
  --padding-xxs: var(--size-3);
  --padding-xs: var(--size-4);
  --padding-s: var(--size-5);
  --padding-m: var(--size-6);
  --padding-l: var(--size-7);
  --padding-xl: var(--size-8);
  --padding-xxl: var(--size-9);
  --padding-xxxl: var(--size-10);
}
